{% extends 'base.html' %}

{% load static %}

{% block title %} {{ song.name }} | {{ song.artist.name }} {% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static 'songs/css/detail.css' %}">
{% endblock %}

{% block content %}

<div class="song-container">
    <div class="song-img">
        {% if song.image %}
            <img src="{{ song.image.url }}" alt="{{ song.name }} by {{ song.artist.name }}" class="img-fluid rounded">
        {% else %}
            <img src="{% static 'songs/images/default-song-image.jpg' %}" alt="default song image" class="img-fluid rounded">
        {% endif %}
    </div>

    <div class="song-info">
        <h1 class="song-title">{{ song.name }}</h1>
        <h2 class="artist-name"> 
            <a href="{{ song.artist.get_absolute_url }}">{{ song.artist.name }}</a>
        </h2>
        
        <div class="song-meta">
            <span class="release-date">
                <i class="bi bi-calendar"></i> {{ song.created_at|date:"F d, Y" }}
            </span>
        </div>

        <div class="song-audio">
            <audio controls class="w-100">
                <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                Your browser does not suport audio player.
            </audio>
        </div>
    </div>

    {% if request.user.is_authenticated %}
    <div class="action-buttons">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add To PlayList" class="btn btn-info">
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}