{% extends 'base.html' %}

{% load static %}

{% block title %} Profile {% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="user-info">
    <h5>{{ user.email }}</h5>
</div>

<form action="" method="post" class="new-playlist-form">
    {% csrf_token %}
    <input type="text" name="playlist-name" placeholder="Playlist name..." maxlength="100" required class="form-control">
    <input type="submit" value="Create" class="btn btn-info">
</form>

<div class="profile-container">
    <div class="action-buttons">
        <a href="{{ user.get_logout_url }}" class="btn btn-outline-warning">Logout</a>
        <a href="{{ user.get_delete_account_url }}" class="btn btn-outline-danger">Delete Account</a>
    </div>
</div>

{% if playlists %}
    <div class="playlists-container">
    {% for playlist in playlists %}
        <a href="{{ playlist.get_absolute_url }}" class="btn btn-outline-info">{{ playlist.name }}</a>
    {% endfor %}
    </div>
{% endif %}
{% endblock %}