.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.user-info {
    width: fit-content;
    margin: auto;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid black;
}

.new-playlist-form {
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 2px solid black;
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
}

.action-buttons a {
    padding: 10px;
}

.playlists-container {
    width: 80%;
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.playlists-container a {
    height: fit-content;
}

@media (max-width: 768px) {
    .profile-container {
        padding: 15px;
    }
    
    .user-info h5 {
        font-size: 1rem;
    }
    
    .action-buttons {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .action-buttons a {
        font-size: 0.9rem;
    }

    .new-playlist-form {
        width: 100%;
    }

    .new-playlist-form input {
        font-size: 0.8rem;
    }

    .playlists-container {
        grid-template-columns: 1fr;
        width: 90%;
    }
}